.body {
    width: 80%;
    height: 75%;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/desert-bg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0%;
    -webkit-background-size: cover;

    .title-text {
        font-size: 100px;
        font-weight: 500;
        margin-top: 150px;
        margin-bottom: 0;
    }

    .subtitle-text {
        font-size: 30px;
        font-weight: 400;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .body-btn {
        border-radius: 20px;
        padding: 13px 30px 13px 30px;
    }
}