.header {
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: space-between;

    .left-section {
        width: 30%;
        display: flex;
        align-items: center;
        margin-left: 80px;

        .header-text {
            font-size: 32px;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 5px;
            margin-right: 20px;
        }

        .header-logo {
            width: 70px;
            height: 70px;
            object-fit: contain;
        }

        .select-dropdown {
            margin-left: 15px;
            border: none;
            
            .p-dropdown-trigger {
                width: 2rem;                

                .p-clickable {
                    width: 10px;
                    height: 10px;
                    font-size: 14px;
                    color: grey;
                }
            }

            .p-inputtext {
                color: grey;
                font-weight: 600;
            }
        }

        .dropdown:focus {
            border: none;
        }

        .divider {
            min-height: 25px!important;
        }
    }

    .right-section {
        width: 37%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 80px;

        .link-tag {
            color: grey;
            font-weight: 600;
            cursor: pointer;
        }

        .lang-select {
            display: flex;
            justify-content: center;
            align-items: center;
            color: grey;
                    cursor: pointer;

            p {
                margin-left: 15px;
                margin-bottom: 19px;
                font-weight: 600;
            }
        }

        .header-btn {
            border: 2px lightgray solid;
            border-radius: 20px;
            padding: 10px 20px;
            background-color: white;
            color: black;
        }

        .notification-icon {
            font-size: 20px;
            margin: 0;
            cursor: pointer;
        }


    }
}